<div class="container">
  <div class="row">
    <div class="col s12 animate__animated animate__bounceInLeft">
      <h1 class="light-blue-text text-darken-3"><b>About Me</b></h1>
    </div>
  </div>
  <ul class="collapsible animate__animated animate__zoomIn animate__faster" data-collapsible="expandable">
    <li (click)="onClickToggle($event)">
      <div class="flow-text collapsible-header valign-wrapper light-blue-text text-lighten-5 light-blue darken-3 active">
        <i class="fa fa-user fa-lg" aria-hidden="true"></i>Who am I?
      </div>
      <div class="collapsible-body row light-blue-text text-lighten-5 light-blue darken-3">
        <div class="col s6 m4 l3">
          <img
            src="assets/dgm_profile.png"
            alt="david gimeno profile"
            class="circle responsive-img profile-img"
            style="background-color: white"
          />
        </div>
        <div class="col s12 m8 l9 left-align-text">
          <span class="flow-text description-text"
            >I am a recent graduate of The University of Texas at Arlington where I obtained my Bachelors of Science in Software Engineering.<br /><br />My bacground is in harware-based projects, mobile applications, and some web development
          .<br /><br />I look forward to new challenges which allow me
            to learn how to resolve situations more efficiently.</span
          >
        </div>
      </div>
    </li>
    <li (click)="onClickToggle($event)">
      <div class="flow-text collapsible-header valign-wrapper light-blue-text text-lighten-5 light-blue darken-3">
        <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>Education
      </div>
      <div class="collapsible-body light-blue-text text-lighten-5 light-blue darken-3">
        <table class="flow-text">
          <tbody>
            <tr *ngFor="let e of education">
              <td>
                <a class="light-blue-text text-lighten-5 light-blue darken-3" href="{{ e.href }}" target="_blank">{{ e.field_1 }}</a>
              </td>
              <td class="right-align">{{ e.field_3 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li (click)="onClickToggle($event)">
      <div class="flow-text collapsible-header valign-wrapper light-blue-text text-lighten-5 light-blue darken-3">
        <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>Work experience
      </div>
      <div class="collapsible-body light-blue-text text-lighten-5 light-blue darken-3">
        <table class="flow-text">
          <tbody>
            <tr *ngFor="let work of works">
              <td>
                <a class="light-blue-text text-lighten-5 light-blue darken-3" href="{{ work.href }}" target="_blank"
                  >{{ work.field_1 }} @ {{ work.field_2 }}</a
                >
              </td>
              <td class="right-align">{{ work.field_3 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li (click)="onClickToggle($event)">
      <div class="flow-text collapsible-header valign-wrapper light-blue-text text-lighten-5 light-blue darken-3">
        <i class="material-icons">language</i>Spoken languages
      </div>
      <div class="collapsible-body light-blue-text text-lighten-5 light-blue darken-3">
        <table class="flow-text">
          <tbody>
            <tr *ngFor="let lang of languages">
              <td>{{ lang.field_1 }}</td>
              <td>{{ lang.field_2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
  <div class="row animate__animated animate__fadeInUp animate__faster animate__delay-1s">
    <div class="card-link col s12 m4 l3 btn-large">
      <a
        id="downloadButton"
        class="light-blue-text text-lighten-5 light-blue darken-3 valign-wrapper center"
        href="https://drive.google.com/file/d/1sIZQ61S2xCYW7qeIIl_DStUfy70QPlLu/view?usp=sharing"
        target="_blank"
        download
        >View Resume
      </a>
    </div>
  </div>
</div>
